* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  position: relative;
  overflow-x: hidden;
  background-color: #504c4c !important;
  color: #fff !important;
}
.horLine {
  height: 0.25rem;
  border: 0.2rem solid #fff;
  margin-top: 12rem;
  animation: anim-line infinite ease-in-out 3s;
}
.round-circle {
  height: 20rem;
  border-radius: 50%;
  position: relative;
  top: -10rem;
  align-items: center;
  justify-content: center;
}
.round-circle:hover {
  animation: anim-img infinite ease-in-out 4s;
  animation-delay: 10ms;
}
.left-of-img {
  position: absolute;
  top: 11rem;
  left: 15%;
  text-align: start;
}
.skills {
  position: relative;
  display: flex;
  justify-content: space-around;
  top: 2rem;
}
.skills > .btn {
  width: 15rem;
  height: 4rem;
}
.skillsPair {
  display: inline;
}
.skillsComp {
  position: relative;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes anim-line {
  0% {
    border-color: #5484e4;
  }
  20% {
    border-color: #c5c211;
  }
  40% {
    border-color: #1e8799;
  }
  60% {
    border-color: #8f0d94;
  }
  80% {
    border-color: #dd4722;
  }
  100% {
    border-color: #5708a0;
  }
}
@keyframes anim-img {
  25% {
    border-top-left-radius: 75%;
  }
  50% {
    border-top-right-radius: 75%;
  }
  75% {
    border-bottom-right-radius: 75%;
  }
  100% {
    border-bottom-left-radius: 75%;
  }
}
