.me-auto > a:hover {
  border-bottom: 2px solid gold;
  border-bottom-width: 2px;
  opacity: 1;
}
.active-nav {
  animation: animate 900ms;
  animation-duration: 1000ms;
  animation-play-state: running;
  box-shadow: inset rgb(201, 148, 148);
  font-size: 1.5rem;
}
.skill-header {
  position: relative;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 4rem;
  color: white;
  -webkit-text-stroke: 0.1rem rgb(206, 203, 40);
  left: -20%;
}
.skills-container {
  position: relative;
  left: 15%;
}
.indLang {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  border: 0.1rem solid gold;
  font-size: 5rem;
}

.indLang:nth-child(1) {
  left: 20%;
}
.indLang:nth-child(2) {
}
.indLang:nth-child(3) {
  left: 20%;
}
.indLang:nth-child(4) {
}
.indLang:nth-child(5) {
  left: 20%;
}
.indLang:nth-child(6) {
}
.indLang:nth-child(7) {
  left: 20%;
}
.indLang:nth-child(8) {
}
.indLang:nth-child(9) {
  left: 20%;
}

.projects {
  position: relative;
}
.projects-individual {
  border: 0.2rem solid gold;
}
.projects-individual:nth-child(1) {
  height: 10%;
  width: 30%;
  margin-left: 10%;
}
.projects-individual:nth-child(2) {
  width: 25%;
  height: 20%;
  margin-left: -20%;
  /* margin-bottom: -10%; */
  margin-top: 19%;
}
.projects-individual:nth-child(3) {
  width: 30%;
  height: 10%;
  margin-right: -15%;
  margin-top: -3%;
  margin-left: 2%;
}
.projects-individual:nth-child(4) {
  width: 32%;
  margin-top: 15%;
  height: 20%;
  margin-left: -10%;
}
.project-header {
  margin: 5% 5% 10% 5%;
  /* margin-bottom: 5%; */
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  font-size: 4rem;
  color: white;
  -webkit-text-stroke: 0.1rem rgb(206, 203, 40);
  box-shadow: 1rem 1rem 1rem 1rem green;
}

@keyframes animate {
  0% {
    transform: rotate(25deg);
    transform-origin: 10%;
  }
  10% {
    transform: rotate(45deg);
    transform-origin: 10%;
  }
  20% {
    transform: rotate(90deg);
    transform-origin: 10%;
  }
  40% {
    transform: rotate(135deg);
    transform-origin: 10%;
  }
  60% {
    transform: rotate(180deg);
    transform-origin: 10%;
  }
  70% {
    transform: rotate(225deg);
    transform-origin: 10%;
  }
  80% {
    transform: rotate(270deg);
    transform-origin: 10%;
  }
  90% {
    transform: rotate(360deg);
    transform-origin: 10%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 10%;
  }
}
