.me-auto > a:hover {
  border-bottom: 2px solid gold;
  border-bottom-width: 2px;
  opacity: 1;
}
.active-nav {
  animation: animate 900ms;
  animation-duration: 1000ms;
  animation-play-state: running;
  box-shadow: inset rgb(201, 148, 148);
  font-size: 1.5rem;
}

.langs {
  /* align-items: center; */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* justify-content: center; */
  /* width: 100%; */
  position: relative;
  display: flex;
  /* left: 30%; */
  /* right: 30%; */
}
.langs div {
  /* position: absolute; */
  /* align-items: center; */
  /* justify-content: center; */
  /* text-align: center; */
  /* vertical-align: middle; */
  /* position: absolute; */
  /* position: relative; */
}
.indLang {
  /* position: absolute; */
  /* position: relative; */
}

.indLang:nth-child(even) {
  /* position: absolute; */
  background-color: rgb(38, 167, 38);
  /* width: fit-content; */
  /* top: 1rem; */
  /* left: 14rem; */
  margin-left: 3rem;
  /* top: -1rem; */
  /* top: 0%; */
}
.indLang:nth-child(odd) {
  /* position: absolute; */
  /* top: 0%; */
  /* top: 1rem; */
  margin-left: 3rem;
  /* width: fit-content; */
  background-color: rgb(88, 146, 146);
}

@keyframes animate {
  0% {
    transform: rotate(25deg);
    transform-origin: 10%;
  }
  10% {
    transform: rotate(45deg);
    transform-origin: 10%;
  }
  20% {
    transform: rotate(90deg);
    transform-origin: 10%;
  }
  40% {
    transform: rotate(135deg);
    transform-origin: 10%;
  }
  60% {
    transform: rotate(180deg);
    transform-origin: 10%;
  }
  70% {
    transform: rotate(225deg);
    transform-origin: 10%;
  }
  80% {
    transform: rotate(270deg);
    transform-origin: 10%;
  }
  90% {
    transform: rotate(360deg);
    transform-origin: 10%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 10%;
  }
}
