.me-auto > a:hover {
  border-bottom: 2px solid gold;
  border-bottom-width: 2px;
  opacity: 1;
}
.active-nav {
  animation: animate 900ms;
  animation-duration: 1000ms;
  animation-play-state: running;
  box-shadow: inset rgb(201, 148, 148);
  font-size: 1.5rem;
}

.langs {
  align-items: center;
  text-align: center;
  vertical-align: middle;
  justify-content: center;
  width: 100%;
  display: flex;
}
.langs div {
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
}
.indLang:nth-child(1) {
  /*c++*/
  top: 15%;
  left: 40%;
  width: 9%;
  height: 9%;
  background-color: green;
}
.indLang:nth-child(2) {
  /*Java*/
  top: 18%;
  left: 18%;
  width: 14%;
  height: 14%;
  background-color: green;
}
.indLang:nth-child(3) {
  /*Python*/
  top: 0%;
  height: 13%;
  width: 13%;
  left: 40%;
  background-color: green;
}
.indLang:nth-child(4) {
  /*JavaScript*/
  top: 33%;
  left: 22%;
  height: 14%;
  width: 14%;
  background-color: green;
}
.indLang:nth-child(5) {
  /*Html*/
  height: 13%;
  width: 13%;
  left: 52%;
  background-color: green;
}
.indLang:nth-child(6) {
  /*Css*/
  height: 9%;
  width: 9%;
  left: 30%;

  background-color: green;
}
.indLang:nth-child(7) {
  /*bootstrap*/
  top: 30%;
  width: 15%;
  height: 12%;
  left: 40%;

  background-color: green;
}
.indLang:nth-child(8) {
  /*React Js*/
  top: 5%;
  width: 14%;
  height: 14%;
  left: 25%;

  background-color: green;
}
.indLang:nth-child(9) {
  /*Flutter*/
  width: 7%;
  height: 7%;
  top: 20%;
  left: 54%;

  background-color: green;
}

@keyframes animate {
  0% {
    transform: rotate(25deg);
    transform-origin: 10%;
  }
  10% {
    transform: rotate(45deg);
    transform-origin: 10%;
  }
  20% {
    transform: rotate(90deg);
    transform-origin: 10%;
  }
  40% {
    transform: rotate(135deg);
    transform-origin: 10%;
  }
  60% {
    transform: rotate(180deg);
    transform-origin: 10%;
  }
  70% {
    transform: rotate(225deg);
    transform-origin: 10%;
  }
  80% {
    transform: rotate(270deg);
    transform-origin: 10%;
  }
  90% {
    transform: rotate(360deg);
    transform-origin: 10%;
  }
  100% {
    transform: rotate(0deg);
    transform-origin: 10%;
  }
}
